<!DOCTYPE html>
<html>
<head>
  <title>Details</title>
</head>
<body style="font-family: Arial; background-color: #f5f5f5; padding: 50px;">
  <div style="background-color: white; padding: 15px; border-radius: 8px; width: fit-content;">
    <h2>Name: {{ details.name }}</h2>
    <p>Age: {{ details.age }}</p>
    <p>Course: {{ details.course }}</p>
    <p>College: {{ details.college }}</p>
    <p>Diploma Year: {{ details.diploma_year }}</p>
    <p>10th Passout: {{ details.passout }}</p>
  </div>
</body>
</html>